body{
    width:90%;
    margin: auto;
    font-family: Arial, sans-serif;
    background-image: url("s1.jpg")
}

input[type="text"]{
    width: 700px;
}

td .noborders pl-16 {
    height: 50px;
}

div .link a {
    position: absolute;
    bottom: 300px;
}

.btn-warning {
    position: absolute;
    right: 150px;
}

.table-dark {
    width: 80%;
    margin-left: 70px;
}

.btn-success {
    margin-left: 70px;
}

h1 {
    text-align: center;
}